.filterButtons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  @media (max-width: 490px){
    font-size: (46/490)*100vw;
    margin: (13/490)*100vw 0 (20/490)*100vw 0;
  }

  button {
    color: $main-color;
    border: 1px solid $main-color;
    background-color: white;
    border-radius: (40/1920)*100vw;
    margin: (18/1920)*100vw (10/1920)*100vw;
    font-weight: 400;
    font-size: (19/1920)*100vw;
    padding: (8/1920)*100vw (26/1920)*100vw (11/1920)*100vw (26/1920)*100vw;
    outline: none;
    min-width: (130/1920)*100vw;
    height: (40/1920)*100vw;
    text-align: center;
    @media (max-width: 490px){
      font-size: (14/490)*100vw;
      min-width: (130/1920)*100vw;
      height: (30/490)*100vw;
      margin: (18/1920)*100vw (10/1920)*100vw;
      padding: (6/490)*100vw (20/490)*100vw (6/490)*100vw (20/490)*100vw;
    }
    &:hover {
      cursor: pointer;
      background-color: $main-color;
      color: white;
      transition: 1s;
    }
  }

  span {
    display: flex;
    justify-content: center;
  }

  .active {
    background-color: $main-color;
    color: white;
  }
}

.showBtn {
  height: (90/1920)*100vw;
  width: (690/1920)*100vw;
  background-color: $main-color;
  text-transform: uppercase;
  margin: (30/1920)*100vw auto;
  border: 1px solid $main-color;
  color: white;
  font-size: (24/1920)*100vw;
  font-weight: 300;
@media (max-width: 490px){
  width: ((420+30)/490)*100vw;
  height: (60/490)*100vw;
  font-size: (17/490)*100vw;
  margin: (30/490)*100vw auto;
}
  &hover {
    cursor: pointer;
  }
}

